{
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "trailingComma": "none",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
