{
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
